@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?80xe5m');
  src:  url('fonts/icomoon.eot?80xe5m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?80xe5m') format('truetype'),
    url('fonts/icomoon.woff?80xe5m') format('woff'),
    url('fonts/icomoon.svg?80xe5m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-in:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-article:before {
  content: "\e902";
}
.icon-read-more:before {
  content: "\e903";
}
.icon-list:before {
  content: "\e904";
}
.icon-list-nested:before {
  content: "\e905";
}
.icon-map-pin-alt:before {
  content: "\e906";
}
.icon-user:before {
  content: "\e907";
}
.icon-settings:before {
  content: "\e908";
}
.icon-bulb:before {
  content: "\e909";
}
.icon-pen:before {
  content: "\e90a";
}
.icon-stack:before {
  content: "\e90b";
}
.icon-paperplane:before {
  content: "\e90c";
}
.icon-data:before {
  content: "\e90d";
}
.icon-angry-face-teeth:before {
  content: "\e90e";
}
.icon-unamused-face-tightly-closed-eyes:before {
  content: "\e90f";
}
.icon-amused-face-closed-eyes:before {
  content: "\e910";
}
.icon-grinning-face:before {
  content: "\e911";
}
.icon-astonished-face:before {
  content: "\e912";
}
.icon-smirking-face-sunglasses:before {
  content: "\e913";
}
.icon-thumb-up:before {
  content: "\e914";
}
.icon-two-fingers:before {
  content: "\e915";
}
.icon-one-finger-swipe-right:before {
  content: "\e916";
}
.icon-one-finger-tap-hold:before {
  content: "\e917";
}
.icon-adobeacrobatreader:before {
  content: "\e918";
  color: #ee3f24;
}
.icon-adobeillustrator:before {
  content: "\e919";
  color: #ff7c00;
}
.icon-adobephotoshop:before {
  content: "\e91a";
  color: #00c8ff;
}
.icon-adobexd:before {
  content: "\e91b";
  color: #ff2bc2;
}
.icon-amazonaws:before {
  content: "\e91c";
}
.icon-android:before {
  content: "\e91d";
  color: #3ddc84;
}
.icon-angular:before {
  content: "\e91e";
  color: #dd0031;
}
.icon-bootstrap:before {
  content: "\e91f";
  color: #563d7c;
}
.icon-canva:before {
  content: "\e920";
  color: #00c4cc;
}
.icon-css3:before {
  content: "\e921";
  color: #1572b6;
}
.icon-dot-net:before {
  content: "\e922";
  color: #5c2d91;
}
.icon-facebook:before {
  content: "\e923";
  color: #1877f2;
}
.icon-figma:before {
  content: "\e924";
  color: #f24e1e;
}
.icon-git:before {
  content: "\e925";
  color: #f05032;
}
.icon-github:before {
  content: "\e926";
}
.icon-groupon:before {
  content: "\e927";
  color: #53a318;
}
.icon-html5:before {
  content: "\e928";
  color: #e34f26;
}
.icon-imdb:before {
  content: "\e929";
  color: #e6b91e;
}
.icon-invision:before {
  content: "\e92a";
  color: #f36;
}
.icon-java:before {
  content: "\e92b";
  color: #007396;
}
.icon-javascript:before {
  content: "\e92c";
  color: #f7df1e;
}
.icon-kubernetes:before {
  content: "\e92d";
  color: #326ce5;
}
.icon-linkedin:before {
  content: "\e92e";
  color: #0077b5;
}
.icon-linux:before {
  content: "\e92f";
  color: #fcc624;
}
.icon-mongodb:before {
  content: "\e930";
  color: #47a248;
}
.icon-mysql:before {
  content: "\e931";
  color: #4479a1;
}
.icon-nginx:before {
  content: "\e932";
  color: #269539;
}
.icon-node-dot-js:before {
  content: "\e933";
  color: #393;
}
.icon-npm:before {
  content: "\e934";
  color: #cb3837;
}
.icon-python:before {
  content: "\e935";
  color: #3776ab;
}
.icon-react:before {
  content: "\e936";
  color: #61dafb;
}
.icon-skype:before {
  content: "\e937";
  color: #00aff0;
}
.icon-slack:before {
  content: "\e938";
  color: #4a154b;
}
.icon-stackoverflow:before {
  content: "\e939";
  color: #fe7a16;
}
.icon-symfony:before {
  content: "\e93a";
}
.icon-tensorflow:before {
  content: "\e93b";
  color: #ff6f00;
}
.icon-typescript:before {
  content: "\e93c";
  color: #007acc;
}
.icon-visualstudiocode:before {
  content: "\e93d";
  color: #007acc;
}
.icon-whatsapp:before {
  content: "\e93e";
  color: #25d366;
}
.icon-youtube:before {
  content: "\e93f";
  color: #f00;
}
